<h2>Landmark Details for <%=@landmark.name%></h2>

<h3>Name</h3>
<p><%=@landmark.name%></p>

<h3>Year Completed</h3>
<p><%=@landmark.year_completed%></p>

<a href="/landmarks/<%=@landmark.id%>/edit"> <input type="button" value="Edit Details"> </a>